body{
    background-color: rgb(196, 246, 255);
}


.img{
height: 20%;
width: 20%;

}

h1,h2{
    text-align: center;
    font-family: Brush Script MT;
    font-size: 45px;
    
    }

div{
text-align: center;
font-family: fantasy;
}

















